<div class='container-fluid'>
  <section class='article-view'>
    <div class='col-12'>
      <div class='card-deck'>
        <div class='card my-4' data-id='{{articleSingle.id}}'>
          <div class='card-header text-light bg-dark'>
            <h3>{{article.title}}</h3>
              <small class='text-right'>Posted by {{user.username}} on {{articleSingle.created_at}}</small>
          </div>
          <div class='card-body' id='content'>{{articleSingle.content}}</div>
        </div>
      </div>
    </div>
  </section>

  {{#if logged_in}}
  <section class='comment-new'>
    <form class='newCommentForm'>
      <div class='form-group'>
      <div class='form-group'>
        <label for='comment-content'>Comment</label>
        <input type='text' class='form-control' id='newCommentContent' placeholder='Enter your text here.'>
      </div>
      <div class='btn-group'>
        <button class='btn btn-primary submit' id='btn-comment' data-id='{{article.id}}' type='submit'>Submit Comment</button>
        <button class='btn btn-warning submit' id='btn-cancel' type='reset'>Cancel</button>
      </div>
    </form>
  </section>

  {{else}}
  {{!-- Something that asks the user to sign in or sign up to comment, directs them to sign in/up page, then automatically returns them to this comment's page.
  <li class='nav-item'><a class='nav-link' id='btn-signin' href='/signin' rel='noreferrer noopener'>Sign In</a></li>
  <li class='nav-item'><a class='nav-link' id='btn-signup' href='/signup' rel='noreferrer noopener'>Sign Up</a></li> --}}
  {{/if}}

{{> comments}}

</div>

<script src='./js/viewArticle.js'></script>